.msg {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
  }
  
  .msgTop{
      display: flex;
  }
  
  .msgImage {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
  }
  
  .msgText{
      padding: 10px;
     
      border-radius: 20px;
      background-color: #71eee8;
      color: black;
      max-width: 300px;
  }
  
  .msgBottom{
      font-size: 12px;
    margin-top: -10px;
   
  }
  
  .msg.own{
      align-items: flex-end;
  }
  
  .msg.own .msgText{
      background-color: rgb(231, 100, 39);
      color: black;
  }